# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

## Truffle
build
node_modules
.keys

.openzeppelin/unknown-*
# matic
!.openzeppelin/unknown-137.json
#xdai
!.openzeppelin/unknown-100.json